<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row mt-4 justify-content-center">
                <div class="">
                    <img src="../../../assets/image_default.png" alt="" class="rounded-circle img-profile">
                </div>
                <div class="ml-4 mt-3 infos">
                    <p>Pedro Zulian</p>
                    <p>Marília, SP</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-3"></div>
    </div>
</div>