<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row mt-4 justify-content-center">
                <div class="">
                    <img src="../../../assets/{{usuario.foto}}" alt="image" class="rounded-circle img-profile">
                </div>
                <div class="ml-4 mt-3 infos">
                    <p>{{ usuario.nome }}</p>
                    <p>{{ usuario.cidade }}, {{ usuario.uf }}</p>
                    <input #imageInput type="file" (change)="processImage($event)" style="display: none;">
                    <a class="btn btn-outline-secondary btn-sm" (click)="imageInput.click()"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    <!-- <i *ngIf="imagemCarregada" class="fa fa-check ml-2" style="color: green; height: 1px;" aria-hidden="true"></i> -->
                </div>
            </div>
            <hr>
            <div *ngIf="publicacoes; else semPublicacoes" class="publications">
                <div *ngFor="let publicacao of publicacoes;">
                    <app-publication [publicacao]="publicacao"></app-publication>
                </div>
            </div>
            <ng-template #semPublicacoes>
                Ainda não possui publicação.
            </ng-template>
        </div>
        <div class="col-3"></div>
    </div>
</div>