<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row mt-4 justify-content-center">
                <div class="">
                    <img src="../../../assets/{{usuario.foto}}" alt="image" class="rounded-circle img-profile">
                </div>
                <div class="ml-4 mt-3 infos">
                    <p>{{ usuario.nome }}</p>
                    <p>{{ usuario.cidade }}, {{ usuario.uf }}</p>
                </div>
            </div>
            <hr>
            <div class="publications">
                <app-publication></app-publication>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>