<div class="container">
    <div class="row">
        <div class="col-1 col-sm-3"></div>
        <div class="col-10 col-sm-6 justify-content-center">
            <div class="text-center">
                <h3>Login</h3>
            </div>
            <form [formGroup]="form" action="" class="m-4" (ngSubmit)="login()">
                <label class="form-label mt-3" for="email">E-mail</label>
                <input class="form-control" type="text" name="" id="email" formControlName="email">

                <label class="form-label mt-3" for="senha">Senha</label>
                <input class="form-control" type="password" name="" id="senha" formControlName="senha">
            
                <div class="float-right mt-4">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>
            </form>
        </div>
        <div class="col-1 col-sm-3"></div>
    </div>
</div>